.title {
    text-align: center;
}

.image {
    display: block;
    width: 380px;
    height: 250px;
    border: 3px solid #121212;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    display: block;
    width: 380px;
    color: #121212;
    font-size: 17px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input {
    display: block;
    border: 3px solid #121212;
    font-weight: bold;
    font-size: 13px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.join {
    display: block;
    border: 3px solid #121212;
    font-weight: bold;
    font-size: 13px;
    background-color: #121212;
    color: white;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.terms {
    text-decoration: underline;
}